force-app/main/default/flows/Create_Maintenance_Record_and_Update_Bus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>DynamicMaintenanceName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &apos;-&apos; &amp;{!$Record.Bus_ID__c}</expression>
    </formulas>
    <interviewLabel>Create Maintenance Record and Update Bus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Maintenance Record and Update Bus</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Maintenance_Record</name>
        <label>Create Maintenance Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_Bus_Record_to_Deactive</targetReference>
        </connector>
        <inputAssignments>
            <field>Bus__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Garage__c</field>
            <value>
                <elementReference>$Record.Garage__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DynamicMaintenanceName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Maintenance__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Bus_Record_to_Deactive</name>
        <label>Update Bus Record to Deactive</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ready for use</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rented</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Maintenance_Record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ready for use</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Current_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rented</stringValue>
            </value>
        </filters>
        <object>Bus__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdatedBus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Bus__c</objectType>
    </variables>
</Flow>
